<header id="header" class="header has-sticky sticky-jump">
    <div class="header-wrapper">
        <div id="masthead" class="header-main" style="border-bottom: 10px solid #ff6f00 !important;">
            <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">
                <div id="logo" class="flex-col logo">
                    <a href="/san-pham/may-nen-khi-hitachi" title="Máy nén khí Hitachi - Air Compressors" rel="home">
                        <img width="288px" height="103px"
                             src="/js/vietsonvn.com/wp-content/uploads/2019/06/logo-hitachi-vietson.png"
                             class="header_logo header-logo" alt="Máy nén khí Hitachi"/><img width="288px"
                                                                                             height="103px"
                                                                                             src="/js/vietsonvn.com/wp-content/uploads/2019/06/logo-hitachi-vietson.png"
                                                                                             class="header-logo-dark"
                                                                                             alt="Máy nén khí Hitachi"/></a>
                </div>
                <div class="flex-col show-for-medium flex-left">
                    <ul class="mobile-nav nav nav-left ">
                        <li class="nav-icon has-icon">
                            <a href="#" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay"
                               data-color="" class="is-small" aria-controls="main-menu" aria-expanded="false">
                                <i class="icon-menu"></i>
                            </a></li>
                    </ul>
                </div>
                <div class="flex-col hide-for-medium flex-left
flex-grow">
                    <ul class="header-nav header-nav-main nav nav-left  nav-uppercase"></ul>
                </div>
                <div class="flex-col hide-for-medium flex-right">
                    <ul class="header-nav header-nav-main nav nav-right  nav-uppercase">
                        <li class="html header-social-icons ml-0">
                            <div class="social-icons follow-icons"><a href="https://www.facebook.com"
                                                                      target="_blank" data-label="Facebook"
                                                                      rel="noopener noreferrer nofollow"
                                                                      class="icon primary button circle facebook tooltip"
                                                                      title="Follow on Facebook"><i
                                            class="icon-facebook"></i></a><a
                                        href="https://www.youtube.com" target="_blank"
                                        rel="noopener noreferrer nofollow" data-label="YouTube"
                                        class="icon primary button circle  youtube tooltip" title="Follow on YouTube"><i
                                            class="icon-youtube"></i></a></div>
                        </li>
                        <li class="header-divider"></li>
                        <li class="header-contact-wrapper">
                            <ul id="header-contact" class="nav nav-divided nav-uppercase header-contact">
                                <li class="">
                                    <a href="mailto:sales.triquang@gmail.com" class="tooltip"
                                       title="sales.triquang@gmail.com">
                                        <i class="icon-envelop" style="font-size:16px;"></i> <span>
sales.triquang@gmail.com			       </span>
                                    </a></li>
                                <li class="">
                                    <a href="tel:0934284119" class="tooltip" title="0934284119">
                                        <i class="icon-phone" style="font-size:16px;"></i>
                                        <span>0934284119</span>
                                    </a></li>
                            </ul>
                        </li>
                        <li class="header-divider"></li>
                        <div id="mega-menu-wrap-primary" class="mega-menu-wrap">
                            <div class="mega-menu-toggle">
                                <div class="mega-toggle-blocks-left"></div>
                                <div class="mega-toggle-blocks-center"></div>
                                <div class="mega-toggle-blocks-right">
                                    <div class='mega-toggle-block mega-menu-toggle-block mega-toggle-block-1'
                                         id='mega-toggle-block-1' tabindex='0'><span class='mega-toggle-label'
                                                                                     role='button'
                                                                                     aria-expanded='false'><span
                                                    class='mega-toggle-label-closed'>MENU</span><span
                                                    class='mega-toggle-label-open'>MENU</span></span></div>
                                </div>
                            </div>
                            <ul id="mega-menu-primary"
                                class="mega-menu max-mega-menu mega-menu-horizontal mega-no-js"
                                data-event="hover_intent" data-effect="fade_up" data-effect-speed="200"
                                data-effect-mobile="disabled" data-effect-speed-mobile="0"
                                data-mobile-force-width="false" data-second-click="go"
                                data-document-click="collapse" data-vertical-behaviour="standard"
                                data-breakpoint="600" data-unbind="true" data-mobile-state="collapse_all"
                                data-hover-intent-timeout="300" data-hover-intent-interval="100">
                                <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-home mega-current-menu-item mega-page_item mega-page-item-2617 mega-current_page_item mega-align-bottom-left mega-menu-flyout mega-menu-item-3344'
                                    id='mega-menu-item-3344'><a class="mega-menu-link" href="/"
                                                                tabindex="0">TRANG CHỦ</a></li>
                                <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-177'
                                    id='mega-menu-item-177'><a class="mega-menu-link"
                                                               href="/gioi-thieu-cong-ty"
                                                               aria-haspopup="true" aria-expanded="false"
                                                               tabindex="0">GIỚI THIỆU<span
                                                class="mega-indicator"></span></a>
                                    <ul class="mega-sub-menu">
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-178'
                                            id='mega-menu-item-178'><a class="mega-menu-link"
                                                                       href="/gioi-thieu-cong-ty">Giới
                                                Thiệu Công Ty</a></li>
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-175'
                                            id='mega-menu-item-175'><a class="mega-menu-link"
                                                                       href="/lich-su-hinh-thanh">Lịch
                                                Sử Hình Thành</a></li>
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-174'
                                            id='mega-menu-item-174'><a class="mega-menu-link"
                                                                       href="/doi-tac">Đối
                                                Tác</a></li>
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-173'
                                            id='mega-menu-item-173'><a class="mega-menu-link"
                                                                       href="/doi-ngu-nhan-su">Đội
                                                Ngũ Nhân Sự</a></li>
                                    </ul>
                                </li>
                                <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-3355'
                                    id='mega-menu-item-3355'><a class="mega-menu-link"
                                                                href="/san-pham/may-nen-khi-hitachi"
                                                                aria-haspopup="true" aria-expanded="false"
                                                                tabindex="0">SẢN PHẨM<span
                                                class="mega-indicator"></span></a>
                                    <ul class="mega-sub-menu">
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-menu-item-438'
                                            id='mega-menu-item-438'><a class="mega-menu-link"
                                                                       href="/san-pham/may-nen-khi-hitachi"
                                                                       aria-haspopup="true" aria-expanded="false">Máy
                                                Nén Khí HITACHI<span class="mega-indicator"></span></a>
                                            <ul class="mega-sub-menu">
                                                <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-3852'
                                                    id='mega-menu-item-3852'><a class="mega-menu-link"
                                                                                href="vietsonvn.com/may-nen-khi-hitachi/may-nen-khi-truc-vit/index.html">Máy
                                                        Nén Khí Trục Vít</a></li>
                                                <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-3862'
                                                    id='mega-menu-item-3862'><a class="mega-menu-link"
                                                                                href="vietsonvn.com/may-nen-khi-hitachi/may-nen-khi-piston-bebicon/index.html">Máy
                                                        Nén Khí Piston Bebicon</a></li>
                                                <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-3861'
                                                    id='mega-menu-item-3861'><a class="mega-menu-link"
                                                                                href="vietsonvn.com/may-nen-khi-hitachi/may-nen-khi-truc-xoan/index.html">Máy
                                                        Nén Khí Trục Xoắn</a></li>
                                            </ul>
                                        </li>
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-3760'
                                            id='mega-menu-item-3760'><a class="mega-menu-link"
                                                                        href="/san-pham/may-nen-khi-cao-ap-hertz">Máy
                                                Nén Khí Cao Áp HERTZ</a></li>
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-menu-item-3822'
                                            id='mega-menu-item-3822'><a class="mega-menu-link"
                                                                        href="/san-pham/may-tao-khi-nito"
                                                                        aria-haspopup="true" aria-expanded="false">Máy
                                                Tạo Khí NITO<span class="mega-indicator"></span></a>
                                            <ul class="mega-sub-menu">
                                                <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-5942'
                                                    id='mega-menu-item-5942'><a class="mega-menu-link"
                                                                                href="vietsonvn.com/san-pham/may-tao-khi-nito-psi/index.html">Máy
                                                        Tạo Khí Nito PSI</a></li>
                                                <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-product mega-menu-item-1797'
                                                    id='mega-menu-item-1797'><a class="mega-menu-link"
                                                                                href="vietsonvn.com/san-pham/may-tao-khi-nito-hitachi/index.html">Máy
                                                        Tạo Khí Nito HITACHI</a></li>
                                            </ul>
                                        </li>
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-menu-item-1792'
                                            id='mega-menu-item-1792'><a class="mega-menu-link"
                                                                        href="/san-pham/may-say-khi"
                                                                        aria-haspopup="true" aria-expanded="false">Máy
                                                Sấy Khí<span class="mega-indicator"></span></a>
                                            <ul class="mega-sub-menu">
                                                <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5965'
                                                    id='mega-menu-item-5965'><a class="mega-menu-link"
                                                                                href="vietsonvn.com/may-say-khi-psi/index.html">Máy
                                                        sấy khí PSI</a></li>
                                                <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-3874'
                                                    id='mega-menu-item-3874'><a class="mega-menu-link"
                                                                                href="vietsonvn.com/may-say-khi/may-say-khi-orion/index.html">Máy
                                                        Sấy Khí ORION</a></li>
                                            </ul>
                                        </li>
                                        <li class='mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-menu-item-6013'
                                            id='mega-menu-item-6013'><a class="mega-menu-link"
                                                                        href="/san-pham/may-bien-ap-abb-hitachi">Máy
                                                Biến Áp ABB HITACHI</a></li>
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-3838'
                                            id='mega-menu-item-3838'><a class="mega-menu-link"
                                                                        href="/san-pham/san-pham-khac">Sản
                                                Phẩm
                                                Khác</a></li>
                                    </ul>
                                </li>
                                <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-25'
                                    id='mega-menu-item-25'><a class="mega-menu-link"
                                                              href="vietsonvn.com/dich-vu-may-nen-khi/index.html"
                                                              aria-haspopup="true" aria-expanded="false"
                                                              tabindex="0">DỊCH VỤ<span
                                                class="mega-indicator"></span></a>
                                    <ul class="mega-sub-menu">
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-dich_vu mega-menu-item-5451'
                                            id='mega-menu-item-5451'><a class="mega-menu-link"
                                                                        href="vietsonvn.com/dich_vu/cho-thue-may-nen-khi/index.html">Thuê
                                                Máy Nén Khí</a></li>
                                    </ul>
                                </li>
                                <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-24'
                                    id='mega-menu-item-24'><a class="mega-menu-link"
                                                              href="/du-an"
                                                              tabindex="0">DỰ
                                        ÁN</a></li>
                                <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-5430'
                                    id='mega-menu-item-5430'><a class="mega-menu-link"
                                                                href="/hoat-dong"
                                                                tabindex="0">HOẠT ĐỘNG</a></li>
                                <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-5527'
                                    id='mega-menu-item-5527'><a class="mega-menu-link"
                                                                href="#"
                                                                aria-haspopup="true" aria-expanded="false"
                                                                tabindex="0">HỖ TRỢ<span
                                                class="mega-indicator"></span></a>
                                    <ul class="mega-sub-menu">
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5552'
                                            id='mega-menu-item-5552'><a class="mega-menu-link"
                                                                        href="vietsonvn.com/ho-tro-may-nen-khi-khong-dau/index.html">Máy
                                                Nén Khí Không Dầu</a></li>
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5593'
                                            id='mega-menu-item-5593'><a class="mega-menu-link"
                                                                        href="vietsonvn.com/ho-tro-ve-may-nen-khi-ngam-dau/index.html">Máy
                                                Nén Khí Ngâm Dầu</a></li>
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5614'
                                            id='mega-menu-item-5614'><a class="mega-menu-link"
                                                                        href="vietsonvn.com/ho-tro-may-nen-khi-truc-xoan-hitachi/index.html">Máy
                                                Nén Khí Trục Xoắn</a></li>
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5615'
                                            id='mega-menu-item-5615'><a class="mega-menu-link"
                                                                        href="vietsonvn.com/ho-tro-may-say-khi/index.html">Máy
                                                Sấy
                                                Khí</a></li>
                                    </ul>
                                </li>
                                <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-22'
                                    id='mega-menu-item-22'><a class="mega-menu-link"
                                                              href="/lien-he"
                                                              tabindex="0">LIÊN HỆ</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
                <div class="flex-col show-for-medium flex-right">
                    <ul class="mobile-nav nav nav-right ">
                        <li class="header-contact-wrapper">
                            <div class="header-button"><a href="#"
                                                          data-open="#header-contact"
                                                          data-visible-after="true" data-class="text-center"
                                                          data-pos="center"
                                                          class="icon show-for-medium"><i class="icon-envelop"
                                                                                          style="font-size:16px;"></i></a>
                            </div>
                            <ul id="header-contact"
                                class="nav nav-divided nav-uppercase header-contact hide-for-medium">
                                <li class="has-icon">
                                    <a href="mailto:info@vietsonvn.com" class="tooltip" title="info@vietsonvn.com">
                                        <i class="icon-envelop" style="font-size:16px;"></i> Contact </a></li>
                                <li class="has-icon">
                                    <a href="tel:0985 36 34 36" class="tooltip" title="0985 36 34 36">
                                        <i class="icon-phone" style="font-size:16px;"></i> 0985 36 34 36 </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="top-divider full-width"></div>
            </div>
        </div>
        <div class="header-bg-container fill">
            <div class="header-bg-image fill"></div>
            <div class="header-bg-color fill"></div>
        </div>
    </div>
</header>