<div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
    <div class="sidebar-menu no-scrollbar ">
        <ul class="nav nav-sidebar  nav-vertical nav-uppercase">
            <li id="menu-item-3344"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2617 current_page_item menu-item-3344">
                <a href="/" class="nav-top-link">TRANG CHỦ</a></li>
            <li id="menu-item-3355"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3355">
                <a href="/san-pham/may-nen-khi-hitachi" class="nav-top-link">SẢN PHẨM</a>
                <ul class=children>
                    <li id="menu-item-438"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-438">
                        <a href="/san-pham/may-nen-khi-hitachi">Máy Nén Khí HITACHI</a>
                        <ul class=nav-sidebar-ul>
                            <li id="menu-item-3852"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3852"><a
                                        href="/san-pham/may-nen-khi-hitachi/may-nen-khi-truc-vit">Máy Nén
                                    Khí
                                    Trục Vít</a>
                            </li>
                            <li id="menu-item-3862"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3862"><a
                                        href="/san-pham/may-nen-khi-hitachi/may-nen-khi-piston-bebicon">Máy
                                    Nén Khí Piston
                                    Bebicon</a></li>
                            <li id="menu-item-3861"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3861"><a
                                        href="/san-pham/may-nen-khi-hitachi/may-nen-khi-truc-xoan">Máy
                                    Nén
                                    Khí Trục
                                    Xoắn</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-3760"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3760"><a
                                href="/san-pham/may-nen-khi-cao-ap-hertz">Máy Nén Khí Cao Áp HERTZ</a></li>
                    <li id="menu-item-3822"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3822">
                        <a href="/san-pham/may-tao-khi-nito">Máy Tạo Khí NITO</a>
                        <ul class=nav-sidebar-ul>
                            <li id="menu-item-5942"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5942"><a
                                        href="/san-pham/may-tao-khi-nito-psi">Máy Tạo Khí Nito
                                    PSI</a></li>
                            <li id="menu-item-1797"
                                class="menu-item menu-item-type-post_type menu-item-object-product menu-item-1797"><a
                                        href="/san-pham/may-tao-khi-nito/may-tao-khi-nito-hitachi">Máy Tạo Khí
                                    Nito
                                    HITACHI</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-1792"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1792">
                        <a href="/san-pham/may-say-khi">Máy Sấy Khí</a>
                        <ul class=nav-sidebar-ul>
                            <li id="menu-item-5965"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5965"><a
                                        href="/san-pham/may-say-khi/may-say-khi-psi">Máy sấy khí PSI</a></li>
                            <li id="menu-item-3874"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3874"><a
                                        href="/san-pham/may-say-khi/may-say-khi-orion">Máy Sấy Khí
                                    ORION</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-6013"
                        class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6013"><a
                                href="/san-pham/may-bien-ap-abb-hitachi">Máy Biến Áp ABB
                            HITACHI</a></li>
                    <li id="menu-item-3838"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3838"><a
                                href="/san-pham/san-pham-khac">Sản Phẩm Khác</a></li>
                </ul>
            </li>
            <li id="menu-item-5527"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5527">
                <a href="/ho-tro" class="nav-top-link">HỖ TRỢ</a>
                <ul class=children>
                    <li id="menu-item-5552"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5552"><a
                                href="/ho-tro">Máy Nén Khí Không Dầu</a>
                    </li>
                    <li id="menu-item-5593"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5593"><a
                                href="/ho-tro">Máy Nén Khí Ngâm Dầu</a>
                    </li>
                    <li id="menu-item-5614"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5614"><a
                                href="/ho-tro">Máy Nén Khí Trục
                            Xoắn</a></li>
                    <li id="menu-item-5615"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5615"><a
                                href="/ho-tro">Máy Sấy Khí</a></li>
                </ul>
            </li>
            <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a
                        href="/lien-he" class="nav-top-link">LIÊN HỆ</a></li>
            <li class="html header-social-icons ml-0">
                <div class="social-icons follow-icons"><a href="https://www.facebook.com/" target="_blank"
                                                          data-label="Facebook" rel="noopener noreferrer nofollow"
                                                          class="icon primary button circle facebook tooltip"
                                                          title="Follow on Facebook"><i class="icon-facebook"></i></a><a
                            href="https://www.youtube.com/" target="_blank"
                            rel="noopener noreferrer nofollow" data-label="YouTube"
                            class="icon primary button circle  youtube tooltip" title="Follow on YouTube"><i
                                class="icon-youtube"></i></a></div>
            </li>
        </ul>
    </div>
</div>