<div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
    <div class="sidebar-menu no-scrollbar ">
        <ul class="nav nav-sidebar  nav-vertical nav-uppercase">
            <li id="menu-item-3344"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2617 current_page_item menu-item-3344">
                <a href="../../index.html" class="nav-top-link">TRANG CHỦ</a></li>
            <li id="menu-item-177"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-177"><a
                        href="/gioi-thieu-cong-ty" class="nav-top-link">GIỚI THIỆU</a>
                <ul class=children>
                    <li id="menu-item-178"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-178"><a
                                href="/gioi-thieu-cong-ty">Giới Thiệu Công Ty</a></li>
                    <li id="menu-item-175"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175"><a
                                href="/lich-su-hinh-thanh">Lịch Sử Hình
                            Thành</a></li>
                    <li id="menu-item-174"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-174"><a
                                href="/doi-tac">Đối Tác</a></li>
                    <li id="menu-item-173"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173"><a
                                href="/doi-ngu-nhan-su">Đội Ngũ Nhân Sự</a></li>
                </ul>
            </li>
            <li id="menu-item-3355"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3355">
                <a href="/san-pham/may-nen-khi-hitachi" class="nav-top-link">SẢN PHẨM</a>
                <ul class=children>
                    <li id="menu-item-438"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-438">
                        <a href="/san-pham/may-nen-khi-hitachi">Máy Nén Khí HITACHI</a>
                        <ul class=nav-sidebar-ul>
                            <li id="menu-item-3852"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3852"><a
                                        href="vietsonvn.com/may-nen-khi-hitachi/may-nen-khi-truc-vit/index.html">Máy Nén Khí
                                    Trục Vít</a>
                            </li>
                            <li id="menu-item-3862"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3862"><a
                                        href="vietsonvn.com/may-nen-khi-hitachi/may-nen-khi-piston-bebicon/index.html">Máy
                                    Nén Khí Piston
                                    Bebicon</a></li>
                            <li id="menu-item-3861"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3861"><a
                                        href="vietsonvn.com/may-nen-khi-hitachi/may-nen-khi-truc-xoan/index.html">Máy Nén
                                    Khí Trục
                                    Xoắn</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-3760"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3760"><a
                                href="/san-pham/may-nen-khi-cao-ap-hertz">Máy Nén Khí Cao Áp HERTZ</a></li>
                    <li id="menu-item-3822"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3822">
                        <a href="/san-pham/may-tao-khi-nito">Máy Tạo Khí NITO</a>
                        <ul class=nav-sidebar-ul>
                            <li id="menu-item-5942"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5942"><a
                                        href="vietsonvn.com/san-pham/may-tao-khi-nito-psi/index.html">Máy Tạo Khí Nito
                                    PSI</a></li>
                            <li id="menu-item-1797"
                                class="menu-item menu-item-type-post_type menu-item-object-product menu-item-1797"><a
                                        href="vietsonvn.com/san-pham/may-tao-khi-nito-hitachi/index.html">Máy Tạo Khí Nito
                                    HITACHI</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-1792"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1792">
                        <a href="/san-pham/may-say-khi">Máy Sấy Khí</a>
                        <ul class=nav-sidebar-ul>
                            <li id="menu-item-5965"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5965"><a
                                        href="vietsonvn.com/may-say-khi-psi/index.html">Máy sấy khí PSI</a></li>
                            <li id="menu-item-3874"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3874"><a
                                        href="vietsonvn.com/may-say-khi/may-say-khi-orion/index.html">Máy Sấy Khí ORION</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-6013"
                        class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-6013"><a
                                href="/san-pham/may-bien-ap-abb-hitachi">Máy Biến Áp ABB
                            HITACHI</a></li>
                    <li id="menu-item-3838"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3838"><a
                                href="/san-pham/san-pham-khac">Sản Phẩm Khác</a></li>
                </ul>
            </li>
            <li id="menu-item-25"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-25"><a
                        href="vietsonvn.com/dich-vu-may-nen-khi/index.html" class="nav-top-link">DỊCH VỤ</a>
                <ul class=children>
                    <li id="menu-item-5451"
                        class="menu-item menu-item-type-post_type menu-item-object-dich_vu menu-item-5451"><a
                                href="vietsonvn.com/dich_vu/cho-thue-may-nen-khi/index.html">Thuê Máy Nén Khí</a></li>
                </ul>
            </li>
            <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24"><a
                        href="/du-an" class="nav-top-link">DỰ ÁN</a></li>
            <li id="menu-item-5430" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5430"><a
                        href="/hoat-dong" class="nav-top-link">HOẠT ĐỘNG</a></li>
            <li id="menu-item-5527"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5527">
                <a href="vietsonvn.com/ho-tro-may-nen-khi/index.html" class="nav-top-link">HỖ TRỢ</a>
                <ul class=children>
                    <li id="menu-item-5552"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5552"><a
                                href="vietsonvn.com/ho-tro-may-nen-khi-khong-dau/index.html">Máy Nén Khí Không Dầu</a></li>
                    <li id="menu-item-5593"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5593"><a
                                href="vietsonvn.com/ho-tro-ve-may-nen-khi-ngam-dau/index.html">Máy Nén Khí Ngâm Dầu</a></li>
                    <li id="menu-item-5614"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5614"><a
                                href="vietsonvn.com/ho-tro-may-nen-khi-truc-xoan-hitachi/index.html">Máy Nén Khí Trục
                            Xoắn</a></li>
                    <li id="menu-item-5615"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5615"><a
                                href="vietsonvn.com/ho-tro-may-say-khi/index.html">Máy Sấy Khí</a></li>
                </ul>
            </li>
            <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a
                        href="/lien-he" class="nav-top-link">LIÊN HỆ</a></li>
            <li class="html header-social-icons ml-0">
                <div class="social-icons follow-icons"><a href="https://www.facebook.com/" target="_blank"
                                                          data-label="Facebook" rel="noopener noreferrer nofollow"
                                                          class="icon primary button circle facebook tooltip"
                                                          title="Follow on Facebook"><i class="icon-facebook"></i></a><a
                            href="https://www.youtube.com/channel/UCDIIkHX4MuUhkbtSHqFRKWw" target="_blank"
                            rel="noopener noreferrer nofollow" data-label="YouTube"
                            class="icon primary button circle  youtube tooltip" title="Follow on YouTube"><i
                                class="icon-youtube"></i></a></div>
            </li>
        </ul>
    </div>
</div>