<div id="button-contact-vr" class="">
    <div id="gom-all-in-one">
        <div id="phone-vr" class="button-contact">
            <div class="phone-vr">
                <div class="phone-vr-circle-fill"></div>
                <div class="phone-vr-img-circle">
                    <a href="tel:0934284119">
                        <img src="/js/vietsonvn.com/wp-content/plugins/button-contact-vr/img/phone.png"/>
                    </a></div>
            </div>
        </div>
    </div>
</div>
<div id="popup-form-contact-vr">
    <div class="bg-popup-vr"></div>
    <div class="content-popup-vr" id="loco-" style=" ">
        <div class="content-popup-div-vr"></div>
        <div class="close-popup-vr">x</div>
    </div>
</div>