<script data-optimized="1" type="text/javascript">var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c</script>
<script type="text/template" id="tmpl-variation-template">
    <div class="woocommerce-variation-description">{{{ data.variation.variation_description }}}</div>
    <div class="woocommerce-variation-price">{{{ data.variation.price_html }}}</div>
    <div class="woocommerce-variation-availability">{{{ data.variation.availability_html }}}</div></script>
<script type="text/template" id="tmpl-unavailable-variation-template"><p>Rất tiếc, sản phẩm này hiện không tồn tại. Hãy
        chọn một phương thức kết hợp khác.</p></script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/e3c656c9154e408eed68043d8c39103c6aa8.js?ver=8aeaf'
        id='wp-polyfill-js'></script>
<script type='text/javascript'
        id='wp-polyfill-js-after'>('fetch' in window) || document.write('<script src="../public/js/wp-includes/js/dist/vendor/wp-polyfill-fetch.min6e0e.js?ver=3.0.0"></scr' + 'ipt>');
    (document.contains) || document.write('<script src="../public/js/wp-includes/js/dist/vendor/wp-polyfill-node-contains.min2e00.js?ver=3.42.0"></scr' + 'ipt>');
    (window.DOMRect) || document.write('<script src="../public/js/wp-includes/js/dist/vendor/wp-polyfill-dom-rect.min2e00.js?ver=3.42.0"></scr' + 'ipt>');
    (window.URL && window.URL.prototype && window.URLSearchParams) || document.write('<script src="../public/js/wp-includes/js/dist/vendor/wp-polyfill-url.min5aed.js?ver=3.6.4"></scr' + 'ipt>');
    (window.FormData && window.FormData.prototype.keys) || document.write('<script src="../public/js/wp-includes/js/dist/vendor/wp-polyfill-formdata.mine9bd.js?ver=3.0.12"></scr' + 'ipt>');
    (Element.prototype.matches && Element.prototype.closest) || document.write('<script src="../public/js/wp-includes/js/dist/vendor/wp-polyfill-element-closest.min4c56.js?ver=2.0.2"></scr' + 'ipt>');
    ('objectFit' in document.documentElement.style) || document.write('<script src="../public/js/wp-includes/js/dist/vendor/wp-polyfill-object-fit.min531b.js?ver=2.3.4"></scr' + 'ipt>');</script>
<script data-optimized="1" type='text/javascript' id='contact-form-7-js-extra'>var wpcf7 = {
        "api": {
            "root": "https:\/\/vietsonvn.com\/wp-json\/",
            "namespace": "contact-form-7\/v1"
        }, "cached": "1"
    }</script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/d6c80ee9444f4bfe1c61354bd7968dfde5a6.js?ver=95f36'
        id='contact-form-7-js'></script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/9a6c930a1ff922412f629ac2fdb6be80d3cd.js?ver=738aa'
        id='jquery-blockui-js'></script>
<script data-optimized="1" type='text/javascript' id='wc-add-to-cart-js-extra'>var wc_add_to_cart_params = {
        "ajax_url": "\/wp-admin\/admin-ajax.php",
        "wc_ajax_url": "\/?wc-ajax=%%endpoint%%",
        "i18n_view_cart": "Xem gi\u1ecf h\u00e0ng",
        "cart_url": "https:\/\/vietsonvn.com",
        "is_cart": "",
        "cart_redirect_after_add": "no"
    }</script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/f5f1451fed5aa896313c16aa8bda5ada06d2.js?ver=811d9'
        id='wc-add-to-cart-js'></script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/837daff194ef1668f7d89d6016de49f07ce5.js?ver=be682'
        id='js-cookie-js'></script>
<script data-optimized="1" type='text/javascript' id='woocommerce-js-extra'>var woocommerce_params = {
        "ajax_url": "\/wp-admin\/admin-ajax.php",
        "wc_ajax_url": "\/?wc-ajax=%%endpoint%%"
    }</script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/b811679c0ff1597db43776921c3c1ba46411.js?ver=589a0'
        id='woocommerce-js'></script>
<script data-optimized="1" type='text/javascript' id='wc-cart-fragments-js-extra'>var wc_cart_fragments_params = {
        "ajax_url": "\/wp-admin\/admin-ajax.php",
        "wc_ajax_url": "\/?wc-ajax=%%endpoint%%",
        "cart_hash_key": "wc_cart_hash_65e883187649ced16e91dbfe6eae77a8",
        "fragment_name": "wc_fragments_65e883187649ced16e91dbfe6eae77a8",
        "request_timeout": "5000"
    }</script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/a1d034f82cdf768fe8cccfb2e4f80bb2e028.js?ver=a2f77'
        id='wc-cart-fragments-js'></script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/ff2141bc02f4341f6d385ed5979866544302.js?ver=9a7f0'
        id='flatsome-live-search-js'></script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/d665e436cea8057866e99baa2b8c6ddf9eea.js?ver=03602'
        id='hoverIntent-js'></script>
<script data-optimized="1" type='text/javascript' id='flatsome-js-js-extra'>var flatsomeVars = {
        "ajaxurl": "https:\/\/vietsonvn.com\/wp-admin\/admin-ajax.php",
        "rtl": "",
        "sticky_height": "70",
        "user": {"can_edit_pages": !1}
    }</script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/3778201daf5cddb7618c1d60867dd3acf0bf.js?ver=569cb'
        id='flatsome-js-js'></script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/cc21ba7db7e2a4f522f25ec33fb8bcef9b0a.js?ver=965e2'
        id='flatsome-theme-woocommerce-js-js'></script>
<script data-optimized="1" type='text/javascript' id='megamenu-js-extra'>var megamenu = {
        "timeout": "300",
        "interval": "100"
    }</script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/a44e4a31d7cc817ef890609b5a94992443e0.js?ver=c8033'
        id='megamenu-js'></script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/e5f1d9136818d83becd39d278dac3632f982.js?ver=051a2'
        id='wp-embed-js'></script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/b8fe4c22de1a2e5f2ee9566c945dfe6373f4.js?ver=a5411'
        id='underscore-js'></script>
<script data-optimized="1" type='text/javascript'
        id='wp-util-js-extra'>var _wpUtilSettings = {"ajax": {"url": "\/wp-admin\/admin-ajax.php"}}</script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/2daa98130d0c44a647f55bde588065e34bf0.js?ver=2081f'
        id='wp-util-js'></script>
<script data-optimized="1" type='text/javascript'
        id='wc-add-to-cart-variation-js-extra'>var wc_add_to_cart_variation_params = {
        "wc_ajax_url": "\/?wc-ajax=%%endpoint%%",
        "i18n_no_matching_variations_text": "R\u1ea5t ti\u1ebfc, kh\u00f4ng c\u00f3 s\u1ea3n ph\u1ea9m n\u00e0o ph\u00f9 h\u1ee3p v\u1edbi l\u1ef1a ch\u1ecdn c\u1ee7a b\u1ea1n. H\u00e3y ch\u1ecdn m\u1ed9t ph\u01b0\u01a1ng th\u1ee9c k\u1ebft h\u1ee3p kh\u00e1c.",
        "i18n_make_a_selection_text": "Ch\u1ecdn c\u00e1c t\u00f9y ch\u1ecdn cho s\u1ea3n ph\u1ea9m tr\u01b0\u1edbc khi cho s\u1ea3n ph\u1ea9m v\u00e0o gi\u1ecf h\u00e0ng c\u1ee7a b\u1ea1n.",
        "i18n_unavailable_text": "R\u1ea5t ti\u1ebfc, s\u1ea3n ph\u1ea9m n\u00e0y hi\u1ec7n kh\u00f4ng t\u1ed3n t\u1ea1i. H\u00e3y ch\u1ecdn m\u1ed9t ph\u01b0\u01a1ng th\u1ee9c k\u1ebft h\u1ee3p kh\u00e1c."
    }</script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/903769cc09fbd091433a42ad961fe983d6c7.js?ver=df75b'
        id='wc-add-to-cart-variation-js'></script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/481e68497bef774bd8e1aad0135352d0636d.js?ver=8a278'
        id='flatsome-masonry-js-js'></script>
<script data-optimized="1" type='text/javascript'
        id='zxcvbn-async-js-extra'>var _zxcvbnSettings = {"src": "https:\/\/vietsonvn.com\/wp-includes\/js\/zxcvbn.min.js"}</script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/b84057478711ab2e78296ae95d930af06abc.js?ver=f8a69'
        id='zxcvbn-async-js'></script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/f93b1ab85e40423003f8b5ad28c0ae15c16b.js?ver=b5f2d'
        id='wp-hooks-js'></script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/c6539b0505bab6e3bd061be5d470f3dcc4f7.js?ver=eb957'
        id='wp-i18n-js'></script>
<script data-optimized="1" type='text/javascript'
        id='wp-i18n-js-after'>wp.i18n.setLocaleData({'text direction\u0004ltr': ['ltr']})</script>
<script data-optimized="1" type='text/javascript' id='password-strength-meter-js-extra'>var pwsL10n = {
        "unknown": "M\u1eadt kh\u1ea9u m\u1ea1nh kh\u00f4ng x\u00e1c \u0111\u1ecbnh",
        "short": "R\u1ea5t y\u1ebfu",
        "bad": "Y\u1ebfu",
        "good": "Trung b\u00ecnh",
        "strong": "M\u1ea1nh",
        "mismatch": "M\u1eadt kh\u1ea9u kh\u00f4ng kh\u1edbp"
    }</script>
<script data-optimized="1" type='text/javascript'
        id='password-strength-meter-js-translations'>(function (domain, translations) {
        var localeData = translations.locale_data[domain] || translations.locale_data.messages;
        localeData[""].domain = domain;
        wp.i18n.setLocaleData(localeData, domain)
    })("default", {
        "translation-revision-date": "2021-05-13 14:44:15+0000",
        "generator": "GlotPress\/3.0.0-alpha.2",
        "domain": "messages",
        "locale_data": {
            "messages": {
                "": {"domain": "messages", "plural-forms": "nplurals=1; plural=0;", "lang": "vi_VN"},
                "%1$s is deprecated since version %2$s! Use %3$s instead. Please consider writing more inclusive code.": ["%1$s \u0111\u00e3 ng\u1eebng ho\u1ea1t \u0111\u1ed9ng t\u1eeb phi\u00ean b\u1ea3n %2$s! S\u1eed d\u1ee5ng thay th\u1ebf b\u1eb1ng %3$s."]
            }
        },
        "comment": {"reference": "wp-admin\/js\/password-strength-meter.js"}
    })</script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/494018464eb2f70a09c83d5e581ca5204c86.js?ver=2be73'
        id='password-strength-meter-js'></script>
<script data-optimized="1" type='text/javascript'
        id='wc-password-strength-meter-js-extra'>var wc_password_strength_meter_params = {
        "min_password_strength": "3",
        "i18n_password_error": "Vui l\u00f2ng nh\u1eadp m\u1eadt kh\u1ea9u kh\u00f3 h\u01a1n.",
        "i18n_password_hint": "G\u1ee3i \u00fd: M\u1eadt kh\u1ea9u ph\u1ea3i c\u00f3 \u00edt nh\u1ea5t 12 k\u00fd t\u1ef1. \u0110\u1ec3 n\u00e2ng cao \u0111\u1ed9 b\u1ea3o m\u1eadt, s\u1eed d\u1ee5ng ch\u1eef in hoa, in th\u01b0\u1eddng, ch\u1eef s\u1ed1 v\u00e0 c\u00e1c k\u00fd t\u1ef1 \u0111\u1eb7c bi\u1ec7t nh\u01b0 ! \" ? $ % ^ & )."
    }</script>
<script data-optimized="1" type='text/javascript'
        src='/js/vietsonvn.com/wp-content/litespeed/js/5d7590aafeaa3df9a95e96873c07d1299a70.js?ver=5d2dd'
        id='wc-password-strength-meter-js'></script>